@{
    Layout = "~/Views/Shared/_LayoutFrontEnd.cshtml";
}
<section id="category-grid">
    <div class="container">
    @*@RenderSection("Side_Bar")*@

        <!-- ========================================= SIDEBAR ========================================= -->
        <div class="col-sm-3 col-xs-12 no-margin sidebar narrow">
            @Html.Action("ProductFilter","SideBar")
            
            @Html.Action("GiamGiaNhieu", "SideBar")
        </div>
        <div class="col-sm-6 col-xs-6 wide sidebar">
            @RenderBody()
        </div><!-- /.col -->
        
    </div><!-- /.container -->
    
</section><!-- /#category-grid -->
