@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
<table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
    <thead>
        <tr>
            <th>Quyền lực</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="center" style="vertical-align:middle">@item.Name</td>
                <td class="center">
                    @if (item.Id != "dc481379-dfae-4d9e-93d8-dce55add3258")
                    {
                    <a class="btn btn-info" href="@Url.Action("DeleteRole", "Roles", new { id = item.Id })">
                        <img src="~/images/icon/delete2-admin.png" width="20" />
                        Xóa
                    </a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

