@{
    ViewBag.Title = "Quản lý bình luận của khách";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><img src="~/images/icon/comment-admin2.png" width="20px" />@ViewBag.Title</h2>
                @*<div class="box-icon">
            <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
            <a href="#" class="btn btn-minimize btn-round btn-default">
                <i class="glyphicon glyphicon-chevron-up"></i>
            </a>
            <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
        </div>*@
            </div>
            <div class="box-content">
                <div class="alert alert-info" id="alert-info" style="display:none"></div>
                <div class="form-inline" style="text-align: right; padding: 10px">
                    <div class="input-group">
                       @Html.DropDownList("value", new SelectList(new List<object>
                        {
                            new { value = "C" , text = "Chưa trả lời"  },
                            new { value = "R" , text = "Đã trả lời" },
                            new { value = "N" , text = "Của nhân viên" },
                        }, "value", "text"), "---Trạng thái---", new { @class = "form-control", id = "trangthai", onchange = "timkiemBinhLuan()",style = "border-radius:5px" })
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="red">Ngày</i></span>
                        <input id="comtday" type="date" class="form-control" onchange="timkiemBinhLuan()">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><img src="~/images/icon/search-admin.png" width="14px" /></span>
                        <input id="inputIcon" type="text" class="form-control" placeholder="Nhập tên sản phẩm" oninput="timkiemBinhLuan()">
                    </div>
                    <div class="input-group">
                        <a class="btn btn-danger" href='javascript:multibledel("@Url.Action("MultibleDel", "Comment")")'>
                            <img src="~/images/icon/delete-admin.png" width="20" />
                            Xóa các bình luận đã chọn
                        </a>
                    </div>

                </div>
                <div class="Ajax-Table" id="Ajax-Table">
                    @Html.Action("TimBinhLuan", "Comment")
                </div>

            </div>
        </div>
    </div>
    <!--/span-->
</div><!--/row-->